##### LOCALIZE ME #####
/packs-mapping.json
/packs/

##### LOCALIZE ME TOOLS #####
/config.json
/string_cache.json
# Backup files, automatically written by LMT
*~

##### CROSSLOCALE MOD TOOLS #####
/crosscode-localization-engine/
/crosslocale-work/
/crosslocale-mod-tools.local.ini
__pycache__/
